#admin-page {
  padding-top: 0px; }

#nested-comment {
  margin-top: 40px; }

.comment-reply {
  display: none; }

.form-opening {
  margin-top: 20px; }

body {
  background: url("../images/DAP.PNG") no-repeat repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0px;
}

nav {
  position: fixed !important;
  z-index: 1000;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #333;

}

/* Headings on home page */
h1.font-weight-light {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* Paragraphs on home page */
p.lead {
  font-size: 14px;
}

#login {
  position: relative;
  top: 100%;

}

.panel-default {
  margin-top: 120px;
}
/*# Comments */

form button { margin: 5px 0px; }
textarea { display: block; margin-bottom: 10px; }
/*post*/
.post { border: 1px solid #ccc; margin-top: 10px; }
/*comments*/
.comments-section { margin-top: 10px; border: 1px solid #ccc; }
.comment { margin-bottom: 10px; }
.comment .comment-name { font-weight: bold; }
.comment .comment-date {
  font-style: italic;
  font-size: 0.8em;
}
.comment .reply-btn, .edit-btn { font-size: 0.8em; }
.comment-details { width: 91.5%; float: left; }
.comment-details p { margin-bottom: 0px; }
.comment .profile_pic {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  float: left;
  border-radius: 50%;
}
/*replies*/
.reply { margin-left: 30px; }
.reply_form {
  margin-left: 40px;
  display: none;
}
#comment_form { margin-top: 10px; }
